/*
 * Remove template code below

:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 1280px;
  margin: 50px auto;
}*/

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
